/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* HEADER */

header {
  display: grid;
  grid-template-columns: 45% 45%;
}

.pageHead {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

#top-header {
  margin-top: 10px;
}

.account {
  text-decoration: none;
  color: black;
  font-size: 9px;
  margin-left: 60%;
}

/* NAVIGATION */


.navUl {
display: flex;
gap: 8%;
text-decoration: none;
color: white;
font-size: 20px;
justify-content: center;
}

.navUl {
  background-color: black;
  padding: 10px;
  margin-right: 10px;
} 



/* BODY */



.carInfo {
 position: relative;
  color: rgb(13, 13, 162);
}

button {
  padding: 15px;
  border: 1px solid grey;
  background: rgb(79, 153, 238);
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
}

div p {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}

.img {
  display: block;
  margin: 0 auto;
  position: absolute;
}

.carInfo {
  background: rgb(173, 173, 191);
  opacity: 0.5;
  width: 50%;
}

.sec {
  margin-top: 50px;
}







.upgradeMain {
  display: grid;
  grid-template-columns: 45% 45%;
}


.capacitor, .flame, .bumberSticker, .hubCap {
  background-color: blue;
  padding-top: 10px;
  padding-right: 50px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.classificationThumbnail {
  display: block;
  margin: 10px auto 0;
  border-radius: 5px;
  /* border-radius: 20px; */
}

.carsInfo {
  background-color: rgb(66, 66, 75);
  border-radius: 20px;
  height: 250px;
  margin-bottom: 20px;
  margin-top: 10px;
  border: 3px solid black;
}

.carsGrid {
  background-color: rgb(186, 186, 181);
  border-radius: 5px;
}


/* Individual vehicle */

.vehImg {
  width: 100%;
}

.vehDes {
  background-color: rgb(114, 122, 114);
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.detailsGrid {
   background: rgb(184, 181, 181);
   padding: 10px;
   border-radius: 7px;
 }

 h1 {
  font-size: 50px;
 }

 h2, h3 {
  font-size: 25px;
  color: white;
 }

 .make {
  color: white;
  background-color: black;
  padding: 20px;
 }

 .des {
  text-align: center;
  color: rgb(213, 231, 213);
  text-decoration: none;
 }

@media screen and (min-width: 850px) {
  .detailsGrid {
    display: grid;
    grid-template-columns: 60% 37%;
    gap: 20px;
    background: rgb(184, 181, 181);
    padding: 10px;
    border-radius: 7px;
  }

  .vehDes {
  margin-top: 0;
  }



}












@media screen and (min-width: 650px) {
 
.sec{
  display: grid;
  grid-template-columns: 45% 45%;
}

.upgradeMain {
  display: grid;
  grid-template-columns: 45% 45%;
}

.capacitor, .flame, .bumberSticker, .hubCap {
  background-color: blue;
  padding-top: 10px;
  padding-right: 50px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.img {
  display: block;
  margin: 0 auto;
}

.carInfo {
  background: rgb(173, 173, 191);
  opacity: 0.5;
  width: 25%;
}

.carsInfo {
  border-radius: 20px;
  height: 280px;
  margin-bottom: 20px;
  width: 220px;
}

.classificationThumbnail {
  display: block;
  margin: 10px auto 0;
  border-radius: 5px;
  border-radius: 20px;
}

.carsGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
}
}


@media screen and (min-width: 1000px) {
  .carsGrid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  place-items: center;
}
}

input:required:invalid, input:invalid:focus {
    background: rgb(246, 214, 214);
}


input:required:valid {
  background: rgb(187, 247, 187);
}

h2, h3 {
  color: black;
}

.notice {
  color: red;
}

.loginForm  {
  background-color: blue;
  height: 170px;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
}

form input {
  padding: 10px;
  border: 1px solid rgb(0, 255, 30);
  border-radius: 5px;  
  margin-left: 10px;
  margin-top: 5px;
}

.password {
  margin-top: 20px;
}

.loginButton, .registerButton {
  padding: 10px;
  color: beige;
  background: grey;
  border: 1px solid blue;
  border-radius: 5px;
  margin-left: 7px;
  width: 100px;
}

.login, .register, .add {
    text-align: center;
}

.reg {
  margin-top: 10px;
}

.a, .passRule, .c {
  color: aliceblue;
}

/* Register Form */
.registerForm {
  background-color: blue;
  height: 300px;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
}

.addClassification, .addInventory {
  margin-left: 10px;
  color: rgb(248, 243, 243);
  padding: 10px;
  background: blue;
  border: 1px solid green;
}

.classificationForm {
  background-color: blue;
  height: 100px;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
}

.inventoryForm {
   background-color: blue;
  height: 600px;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
}

#classificationList {
  padding: 7px;
  margin-top: 7px;
  margin-left: 7px;
  margin-bottom: 7px;
  border: 1px solid green;
  border-radius: 5px;
}
